* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-areas: 'header header header'
		'main main main'
		'footer footer footer';
	grid-template-rows: 200px 70% calc(100vh - (70% + 200px));
}

header {
	display: flex;
	background-color: #ff6666;
	grid-area: header;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 10px 40px -21px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 40px -21px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 40px -21px rgba(0, 0, 0, 0.75);
	z-index: 2;
}

header h1 {
	color: white;
	font-size: 36px;
}

main {
	grid-area: main;
	background-color: #EAE7DC;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	grid-area: footer;
	background-color: black;
	display: flex;
}

footer p {
	color: #71797e;
	font-size: 130px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	transition: 0.3s;
}

footer p:hover {
	color: cornflowerblue;
	transition: 0.3s;
}

footer a {
	text-decoration: none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a:visited {
	cursor: pointer;
}

#gameboard_container {
	width: 700px;
	height: 700px;
	border: 2px solid black;
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-template-rows: repeat(3, 30%);
	gap: 2.5%;
	align-content: center;
	justify-items: stretch;
	justify-content: center;
	background-color: black;
}

#gameboard_container p {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	user-select: none;
}
